body {
    margin: 0;
}

.App {
    height: 100vh;    
    background-color: antiquewhite;
}

#cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    gap: 1rem;

    padding: 1rem 2rem;


}